* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  height: inherit;
  width: inherit;
  background-color: rgb(1, 18, 20);
  color: #f7f7f7;
  position: relative;
}
body::before {
  content: "";
  display: block;
  height: 10vh;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}

@media (max-width: 798px) {
  html {
    font-size: 55.5%;
  }
}
